/* EVERYTHING */
body {
    font-family: "JetBrains Mono", monospace;
    height: 100vh;
    font-style: normal;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d4d4d4;
    justify-content: space-between;
}

/* MAIN CALC BODY */
.calc-container {
    width: 420px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    /* border-style: solid;
    border-width: 1px;
    border-color: red;
    border-radius: 8px; */
}

.calc-body {
    /* width: 400px; */
    /* min-height: 550px; */
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #4C4E52;
    border-style: solid;
    border-width: 1px;
    border-color: hsl(0, 0%, 0%);
    border-radius: 8px;
    box-shadow: 0 0 5px black;
}

.top-row, .div-row, .mult-row, .sub-row, .add-row {
    display: flex;
    justify-content: space-evenly;
    /* align-content: space-evenly; */
    /* padding: 5px 0px 5px 0px; */
}

/* DISPLAYS */
.displays {
    display: flex;
    flex-direction: column;
    background-color: hsl(160, 47%, 80%);
    text-align: right;
    border-radius: 4px;
    height: 85px;
    padding: 15px 10px;
}

.top-display {
    font-size: larger;
}

.main-display {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: xx-large;
    flex-grow: 1;

}

/* BUTTONS */
button {
    font-family: "JetBrains Mono", monospace;
    border-radius: 4px;
    cursor: pointer;
    font-size: x-large;
    height: 70px;
    margin: 5px;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#clear-btn {
    background-color: #7ED9CF;
    width: 160px;
}

#delete-btn {
    background-color: #C05A6A;
    width: 160px
}

.number-btn, .operator-btn {
    background-color: #b3b3b3;
    width: 80px;
    height: 70px;
}

/* FOOTER */
a {
    color: rgb(29, 29, 29);
    text-decoration: none;
}

a:visited {
    color: rgb(29, 29, 29);
}

a:hover {
    text-decoration: overline;
}

.footer {
    display: flex;
    align-items: center;
    margin: 15px 0px 15px 0px;
    color: rgb(29, 29, 29);
}