/* EVERYTHING */
body {
    font-family: "JetBrains Mono", monospace;
    height: 100vh;
    font-style: normal;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a7a7a7;
    /* justify-content: space-evenly; */
}

/* MAIN CALC BODY */
.display {
    background-color: hsl(160, 47%, 80%);
}

.calc-body {
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 8px;
}

/* BUTTONS */
#clear-btn {
    background-color: #00c742;
}

#delete-btn {
    background-color: #c70000;
}

button {
    font-family: "JetBrains Mono", monospace;
}

/* FOOTER */
a {
    color: rgb(29, 29, 29);
    text-decoration: none;
}

a:visited {
    color: rgb(29, 29, 29);
}

a:hover {
    text-decoration: overline;
}

.footer {
    margin: 15px 0px 15px 0px;
    color: rgb(29, 29, 29);
}